!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Irbis
    = Haml::Engine.new(File.read("views/layouts/_head.haml")).render
    %script{src: "http://maps.api.2gis.ru/2.0/loader.js", data: {id: "dgLoader"}}

  %body#page.page
    = Haml::Engine.new(File.read("views/common/_alerts.haml")).render
    / = Haml::Engine.new(File.read("views/layouts/_header_home.haml")).render

    / %main#main.main{role: "main"}
    /   = Haml::Engine.new(File.read("views/home/_landing.haml")).render
    /   = Haml::Engine.new(File.read("views/home/_promo.haml")).render
    /   = Haml::Engine.new(File.read("views/home/_bitrix.haml")).render
    /   = Haml::Engine.new(File.read("views/home/_services.haml")).render
    /   = Haml::Engine.new(File.read("views/home/_works.haml")).render
    /   = Haml::Engine.new(File.read("views/home/_blog.haml")).render
    /   = Haml::Engine.new(File.read("views/home/_contacts.haml")).render

    / = Haml::Engine.new(File.read("views/layouts/_footer.haml")).render    

    %a{href: "/#/order/"} Show