!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title UI / Irbis
    = Haml::Engine.new(File.read("views/layouts/_head.haml")).render
  
  %body#page.page
    = Haml::Engine.new(File.read("views/common/_alerts.haml")).render
    = Haml::Engine.new(File.read("views/layouts/_header.haml")).render
    
    %main#main.main{role: "main"}
      
      %section{role: "region", aria: {label: "Fonts"}}
        .ctn
          .pt-4.pb-4
            %div.mb-2
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla, lectus sit amet lobortis feugiat, nisi ipsum pharetra nulla, et&nbsp;vulputate mi&nbsp;lorem vitae ante. Nunc varius mauris eu&nbsp;consectetur tristique. Suspendisse porttitor imperdiet nisi eget rhoncus. Pellentesque euismod massa purus, a&nbsp;tincidunt leo egestas non. Sed non mattis urna. Phasellus neque neque, elementum id&nbsp;ultrices&nbsp;in, dignissim ac&nbsp;sapien. Aliquam quam tellus, ultricies quis congue&nbsp;et, blandit eget nunc. Vestibulum ante ipsum primis in&nbsp;faucibus orci luctus et&nbsp;ultrices posuere cubilia Curae; Aenean sed ligula tincidunt, dignissim erat&nbsp;at, gravida nisl.
            %div.mb-2
              %h1 H1 44/55/50 Bold
              %h2 H2 26/40 Light
              %h3 H3 20/30/50 Bold
              %h4 H4 19/25 Light
            %div
              %p.tx-sys System

    = Haml::Engine.new(File.read("views/layouts/_footer.haml")).render