%header#header.header{role: "banner"}
  .grid
    .grid_i.grid_i__middle.grid_i__desktop-grid-2-12.grid_i__tablet-grid-2-6.grid_i__phone-grid-2-6>
      %a{href: "/"}
        %img.va-t{src: "/assets/images/logo.svg", width: 138, height: 32, alt: "Irbis"}
    .grid_i.grid_i__middle.grid_i__desktop-grid-8-12.grid_i__tablet-grid-2-6.grid_i__phone-grid-2-6>
      %nav.nav{role: "navigation"}
        %a.nav-toggle.js-nav-toggle.hidden-desktop{href: "#"}
          %i.ico.ico__24.ico__nav
        %ul.menu.visible-desktop
          %li.menu_i
            %a.menu_i_a{href: "/#/services"} Услуги
          %li.menu_i
            %a.menu_i_a{href: "/#/works"} Портфолио
          %li.menu_i
            %a.menu_i_a{href: "/#/contacts"} Контакты
          %li.menu_i
            %a.menu_i_a.menu_i_a__btn{href: "/dialogs/feedback.html", data: {dialog: "open", url: "/data/dialogs/feedback.html"}} Заказать сайт
          %li.menu_i
            %a.menu_i_a{href: "/#/blog"} Блог
    .grid_i.grid_i__middle.grid_i__desktop-grid-2-12.grid_i__tablet-grid-2-6.grid_i__phone-grid-2-6>
      %p.delta.tx-major.tx-right +7 812 385-58-25