%nav.nav.nav__touch.hidden-desktop{role: "navigation"}
  %ul.menu
    %li.menu_i
      %a.menu_i_a{href: "#services", data: {scroll: "true"}} Услуги
    %li.menu_i
      %a.menu_i_a{href: "#works", data: {scroll: "true"}} Портфолио
    %li.menu_i
      %a.menu_i_a{href: "#contacts", data: {scroll: "true"}} Контакты
    %li.menu_i
      %a.menu_i_a.menu_i_a__btn{href: "/dialogs/feedback.html", data: {dialog: "open", url: "/data/dialogs/feedback.html"}} Заказать сайт
    %li.menu_i
      %a.menu_i_a{href: "/blog.html"} Блог

%header#header.header{role: "banner"}
  .grid
    .grid_i.grid_i__desktop-grid-2-12.grid_i__tablet-grid-2-6.grid_i__phone-grid-1-2.va-m>
      %a{href: "/"}
        %img.va-t{src: "/assets/images/logo.svg", width: 138, height: 32, alt: "Irbis"}
    .grid_i.grid_i__desktop-grid-8-12.grid_i__tablet-grid-2-6.grid_i__phone-grid-1-2.va-m>
      %nav.nav{role: "navigation"}
        %a.nav-toggle.js-nav-toggle.hidden-desktop{href: "#"}
          %i.ico.ico__24.ico__nav
        %ul.menu.visible-desktop
          %li.menu_i
            %a.menu_i_a{href: "#services", data: {scroll: "true"}} Услуги
          %li.menu_i
            %a.menu_i_a{href: "#works", data: {scroll: "true"}} Портфолио
          %li.menu_i
            %a.menu_i_a{href: "#contacts", data: {scroll: "true"}} Контакты
          %li.menu_i
            %a.menu_i_a.menu_i_a__btn{href: "/dialogs/feedback.html", data: {dialog: "open", url: "/data/dialogs/feedback.html"}} Заказать сайт
          %li.menu_i
            %a.menu_i_a{href: "/blog.html"} Блог
    .grid_i.grid_i__desktop-grid-2-12.grid_i__tablet-grid-2-6.va-m.hidden-phone>
      %p.delta.tx-major.tx-right +7 812 385-58-25