%header#header.header{role: "banner"}

  %nav.nav{role: "navigation"}
    %ul.menu
      %li.menu_i
        %a.menu_i_a{href: "#services", data: {scroll: "#services", offset: "405"}} Услуги
      %li.menu_i
        %a.menu_i_a{href: "#works", data: {scroll: "#works"}} Портфолио
      %li.menu_i
        %a.menu_i_a{href: "#blog", data: {scroll: "#blog"}} Блог
      %li.menu_i
        %a.menu_i_a{href: "#contacts", data: {scroll: "#contacts"}} Контакты
      %li.menu_i
        %a.menu_i_a.menu_i_a__btn{href: "#order"} Заказать сайт

  .header_inner

    %a{href: "/"}
      %img.header_logo{src: "/assets/images/logo.svg", width: 138, height: 32, alt: "Irbis"}

    %a.nav-toggle.js-nav-toggle{href: "#"}
      %i.ico.ico__24.ico__nav

    %p.header_phone +7 812 385-58-25