.pt-6.pb-6
  .grid
    .grid_i.grid_i__desktop-grid-10-12.grid_i__desktop-prefix-1-12.grid_i__tablet-grid-4-6.grid_i__tablet-prefix-1-6.grid_i__phone-grid-1-1>
      
      %div.mb-2
        %a{href: "/"}
          %img.va-t{src: "/assets/images/logo.svg", width: 138, height: 32, alt: "Irbis"}

      .grid
        .grid_i.grid_i__desktop-grid-3-8.grid_i__tablet-grid-1-1.grid_i__phone-grid-1-1>
          %div.mb-2
            %p.tx-voice 
              Заявки рассматриваются
              %br
              в&nbsp;течение двух рабочих дней.
          %div.mb-2
            %p.tx-voice 
              Рабочая группа из&nbsp;6&nbsp;человек, 
              %br
              реализация&nbsp;&mdash; от&nbsp;5&nbsp;недель.
          %div.mb-2
            %p.tx-voice 
              Если у&nbsp;вас есть вопросы, 
              %br 
              вы&nbsp;можете позвонить нам:
            %p 
              %b +7 812 385-58-25
        .grid_i.grid_i__desktop-grid-5-8.grid_i__tablet-grid-1-1.grid_i__phone-grid-1-1>
          %form.form.js-form.p-r
            %img.stamp.visible-desktop{src: "/assets/images/stamp.svg", width: 194, height: 55, alt: ""}
            %div.mb-2
              .form_row
                .form_el.form_el__block.form_tx.js-form_el
                  %input.form_el_tag.form_tx_tag{type: "text", placeholder: "Представьтесь", autofocus: "autofocus"}
              .form_row
                .form_el.form_el__block.form_tx.js-form_el
                  %input.form_el_tag.form_tx_tag{type: "text", placeholder: "Телефон"}
              .form_row
                .form_el.form_el__block.form_tx.js-form_el
                  %input.form_el_tag.form_tx_tag{type: "text", placeholder: "Электронная почта"}
              .form_row
                .form_el.form_el__block.form_textarea.js-form_el
                  %textarea.form_el_tag.form_textarea_tag{placeholder: "Опишите задачу"}
            .form_el.form_btn.js-form_el
              %p.form_btn_inner Отправить заявку
              %button.form_el_tag.form_btn_tag{type: "submit"} Отправить заявку