%section.section.section__bitrix{role: "region", aria: {label: "1C Bitrix"}}
  .ctn
    .bitrix
      .grid
        .grid_i.grid_i__desktop-grid-4-12.grid_i__desktop-suffix-4-12.grid_i__tablet-grid-4-6.grid_i__tablet-prefix-1-6.grid_i__phone-grid-4-6.grid_i__phone-prefix-1-6>
          %h5 Композитный сайт&nbsp;&mdash; уникальная технология производства сайтов  
          %ul
            %li Отклик сайта в&nbsp;100 раз быстрее;
            %li Лучшее ранжирование сайтов в&nbsp;Google и&nbsp;Яндекс;
            %li Значительный рост конверсии интернет-магазина.
          %p.tx-voice 
            Подробнее на&nbsp;сайте 
            %a{href: "#"} 1С-Битрикс
        .tx-center.hidden-desktop
          %img.va-t{src: "/assets/images/1C.png", width: "", alt: "1С-Битрикс"}
        .grid_i.grid_i__desktop-grid-4-12.grid_i__tablet-grid-4-6.grid_i__tablet-prefix-1-6.grid_i__phone-grid-4-6.grid_i__phone-prefix-1-6>
          %h5 Интеграция &laquo;1С-Битрикс: Управление сайтом&raquo; с&nbsp;&laquo;1С:Предприятие&raquo;
          %ul
            %li Публикация номенклатуры в&nbsp;каталоге интернет-магазина;
            %li Передача заказов на&nbsp;сайте в&nbsp;&laquo;1С&raquo; для обработки;
            %li Выгрузка результатов на&nbsp;сайт для уведомления клиентов.
          %p.tx-voice 
            Подробнее на&nbsp;сайте 
            %a{href: "#"} 1С-Битрикс