%section#contacts.section.section__contacts{role: "region", aria: {label: "Contacts"}}
  .ctn
    #map.map
    %article.contacts
      %header.contacts_header
        %h3.contacts_header_title 
          Мы&nbsp;готовы&nbsp;приехать&nbsp;для&nbsp;встречи
          %br
          в&nbsp;любую&nbsp;точку&nbsp;города
      %div.contacts_body
        %div.mb-1
          .grid
            .grid_i.grid_i__desktop-grid-2-6.grid_i__desktop-prefix-1-6>
              %p.delta.tx-center +7 (812) 385-58-25
            .grid_i.grid_i__desktop-grid-2-6.grid_i__desktop-suffix-1-6>
              %p.delta.tx-center info@irbis-web.ru
        %div.tx-voice.tx-center
          %p Производственный офис:
          %p ул. Кузнецовская, д.&nbsp;21, Санкт-Петербург
          %p 
            %i.ico.ico__16.ico__tw 
            @irbisweb_ru  