%section.section.section__landing{role: "region", aria: {label: "Landing"}}
  .landing    
    .landing_title
      %h1.mb-1 Разработка&nbsp;и&nbsp;поддержка интернет-систем
      %p с 2009 года на Российском рынке
    .landing_layer.landing_layer__awward.visible-desktop