%section#services.section.section__promo{role: "region", aria: {label: "Promo"}}
  .ctn
    .promo
      .promo_i>
        .promo_i_inner.pb-6
          .promo_i_img.promo_i_img__basket>
            %img{src: "/assets/images/blank.gif", width: 210, height: 156, alt: "Разработка интернет-магазинов"}
          .promo_i_tx>
            %h2.mb-1 Разработка интернет-магазинов
            %p Функциональные, большие, удобные, быстрые и&nbsp;привлекательные для покупателей, прибыльные для владельцев.
      .promo_i>
        .promo_i_inner.pt-3.pb-5
          .promo_i_img.promo_i_img__notebook.hidden-desktop>
            %img{src: "/assets/images/blank.gif", width: 210, height: 156, alt: "Разработка корпоративных сайтов"}
          .promo_i_tx>
            %h2.mb-1 Разработка корпоративных сайтов
            %p Максимально удобные, функциональные, работающие на&nbsp;формирование позитивного имиджа, лояльность клиентов, увеличение прибыли и&nbsp;известности.
          .promo_i_img.promo_i_img__notebook.visible-desktop>
            %img{src: "/assets/images/blank.gif", width: 210, height: 156, alt: "Разработка корпоративных сайтов"}
      .promo_i>
        .promo_i_inner.pt-4
          .promo_i_img.promo_i_img__browser>
            %img{src: "/assets/images/blank.gif", width: 210, height: 156, alt: "Разработка порталов"}
          .promo_i_tx>
            %h2.mb-1 Разработка порталов
            %p Функциональные, большие, удобные, быстрые и&nbsp;привлекательные для покупателей, прибыльные для владельцев.
