%section.section.section__services{role: "region", aria: {label: "Services"}}
  .ctn
    %article.tx-center.mb-4
      %header
        %h2.mb-1 Всё, что может Вам понадобиться
      %p.tx-voice Мы&nbsp;умеем не&nbsp;только делать сайты, но&nbsp;и&nbsp;создавать системы по&nbsp;производству прибыли. 
      %p.tx-voice С&nbsp;правильно построенной системой ваш бизнес начнет приносить постоянный доход.
    .grid
      .grid_i.grid_i__desktop-grid-3-12.grid_i__desktop-prefix-2-12.grid_i__tablet-grid-1-3>
        %div.tx-center
          %img.va-t.mb-2{src: "/assets/images/icon_gear.svg", width: 44, height: 44, alt: ""}
          %h4 Интеграция<br>в&nbsp;E-commerce
      .grid_i.grid_i__desktop-grid-2-12.grid_i__tablet-grid-1-3>
        %div.tx-center
          %img.va-t.mb-2{src: "/assets/images/icon_text.svg", width: 44, height: 44, alt: ""}
          %h4 Техническое<br>сопровождение
      .grid_i.grid_i__desktop-grid-3-12.grid_i__tablet-grid-1-3>
        %div.tx-center
          %img.va-t.mb-2{src: "/assets/images/icon_search.svg", width: 44, height: 44, alt: ""}
          %h4 Поисковая<br>оптимизация