button, input, select, textarea {
  -webkit-border-radius: 0;
     -webkit-appearance: none;
}

button, input {
  &::moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

input {
  &::-ms-clear {display: none;}
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
}

::-webkit-input-placeholder {color: $muted-color;}
          :-moz-placeholder {color: $muted-color;}
         ::-moz-placeholder {color: $muted-color;}
     :-ms-input-placeholder {color: $muted-color;}



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
.form_el {
  &[disabled] {
    background-color: #eee;
    opacity: .5;
  }
  &[data-valid="true"] {    
    &:not(.form_btn) {
      border-color: fade-out(green, .3);
    }
    &.form_btn {
      border-color: fade-out(green, .45);
      @include linear-gradient(vertical, fade-out(green, .9), fade-out(green, .6));
      &:active {@include linear-gradient(vertical, fade-out(green, .6), fade-out(green, .9));}
    }
    &.form_checkbox,
    &.form_radio {
      &::after {background-color: fade-out(green, .3);}
    }
    &.form_file,
    &.form_select {
      &::after {color: fade-out(green, .3);}
    }
  }
  &[data-valid="false"] {
    &:not(.form_btn) {
      border: .2rem solid #ff464c;
    }
    &.form_btn {
      border-color: fade-out(red, .45);
      @include linear-gradient(vertical, fade-out(red, .9), fade-out(red, .6));
      &:active {@include linear-gradient(vertical, fade-out(red, .6), fade-out(red, .9));}
    }
    &.form_checkbox,
    &.form_radio {
      &::after {background-color: fade-out(red, .3);}
    }
    &.form_file,
    &.form_select {
      &::after {color: fade-out(red, .3);}
    }
  }
}
  @if $focus-style == true {
    .form_el__focus {@extend %focus-style;}
  }
  .form_el_tag[disabled] {cursor: no-drop;}

//
// .. Row
//
.form_row {
  &:not(:last-child) {margin-bottom: .6rem;}
}

//
// .. Label
//
.form_label__el {
  cursor: pointer;
  > .form_label_inner {margin-left: 2.4rem;}
}

//
// .. Legend
//
.form_legend {@extend %delta;}

//
// .. Button
//
.form_btn {
  font-size: 1.2rem;
  font-weight: 700;
  height: 4.4rem;
  padding: 0 2.2rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: $link-color;
  border: 2px solid $link-color;
  border-radius: .3rem;
  background-color: #fff;
  @include prefixes(transition, all .11s ease);
  &:not([disabled]):hover,
  &:not([disabled]):active {
    color: #fff;
    border-color: $major-color;
    background-color: $major-color;
  }
}
  .form_btn_inner {line-height: 4.4rem;}

//
// .. Text
//
.form_tx {
  padding: 0 2rem;
  height: 6.4rem;
  border: 1px solid #c8c9c3;
  border-radius: .3rem;
  background: #fff;
}

//
// .. Textarea
//
.form_textarea {
  padding: 2rem;
  height: 22.5rem;
  border: 1px solid #c8c9c3;
  border-radius: .3rem;
  background: #fff;
}

//
// .. Checkbox
//
.form_checkbox {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background-color: #fff;
  cursor: pointer;
  &[data-checked="true"]::after {
    width: .6rem;
    height: .6rem;
    background-color: #666;
    border-radius: .1rem;
    content: "";
  }
}

//
// .. Radio
//
.form_radio {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  &[data-checked="true"]::after {
    width: .6rem;
    height: .6rem;
    background-color: #666;
    border-radius: 50%;
    content: "";
  }
}

//
// .. File
//
.form_file {
  height: 4.4rem;
  cursor: pointer;
  text-align: center;
  color: $muted-color;
  border: 1px dashed $muted-color;
  border-radius: .3rem;
  background-color: #fff;
  &[disabled] {cursor: no-drop;}
  &:hover {border-color: $major-color;}
  &::before {
    content: '';
    margin-right: 1.5rem;
    @extend .ico;
    @extend .ico__16;
    @extend .ico__attach;
  }
}
  .form_file_inner {
    line-height: 4rem;
  }

//
// .. Select
//
.form_select {
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background-color: #fff;
  cursor: pointer;
  &::after {
    right: 1rem;
    color: #ccc;
    content: "\f0d7";
    font-family: FontAwesome;
  }
}
  .form_select_inner {
    margin: 0 2.8rem 0 .75rem;
    line-height: 2.8rem;
  }