@include class(ico) {
  display: inline-block;
  vertical-align: middle;
}

//****************************************************************************************************
//
// .. 16x16
//
//****************************************************************************************************
@include class(ico__16) {
  width: 16px;
  height: 16px;
  background-image: image-url("16x16.svg");
  background-repeat: no-repeat;
}

//
// .. Trash
//
@include class(ico__trash) {
  background-position: 0 0;
  &:hover,
  a:hover & {background-position: -16px 0;}
}

//
// .. Attach
//
@include class(ico__attach) {
  background-position: -32px 0;
  &:hover,
  a:hover & {background-position: -48px 0;}
}

//
// .. Twitter
//
@include class(ico__tw) {
  background-position: -64px 0;
}



//****************************************************************************************************
//
// .. 24x24
//
//****************************************************************************************************
@include class(ico__24) {
  width: 24px;
  height: 24px;
  background-image: image-url("24x24.svg");
  background-repeat: no-repeat;
}

//
// .. Close
//
@include class(ico__close) {
  background-position: -168px 0;
  @include prefixes(transition, transform .11s ease);  
  &:hover,
  a:hover & {
    background-position: -192px 0;
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
            transform: scale(1.5);
  }
}

//
// .. Nav
//
@include class(ico__nav) {
  background-position: -216px 0;
  @include prefixes(transition, transform .11s ease);
  &:hover,
  a:hover & {
    background-position: -240px 0;
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
            transform: scale(1.5);
  }
}

//
// .. Arrow left
//
@include class(ico__arrow-left) {
  background-position: -24px 0;
  @include prefixes(transition, transform .11s ease);
  &:hover,
  a:hover & {
    background-position: -48px 0;          
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
            transform: scale(1.5);
  }
}

//
// .. Arrow right
//
@include class(ico__arrow-right) {
  background-position: -96px 0;
  @include prefixes(transition, transform .11s ease);
  &:hover,
  a:hover & {
    background-position: -120px 0;
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
            transform: scale(1.5);
  }
}