@if $grid == "responsive" {
  @include mq(phone)  {body {padding-top: 0 !important;}}
  @include mq(tablet) {body {padding-top: 0 !important;}}
}



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  position: absolute;
  z-index: 998;
  top: 2rem;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 1.5rem 4rem;
}

  //
  // .. Cloned elem class
  //
  .headhesive {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 300ms ease-in-out;
       -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
  }

  //
  // .. Stick class
  //
  .headhesive__stick {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }

  //
  // .. Unstick class
  //
  .headhesive__unstick {

  }


//****************************************************************************************************
//
// .. NAV
//
//****************************************************************************************************
.nav {
  text-align: center;
  @include mq(desktop) {

  }
  @include mq(tablet) {
    &.nav__touch {
      display: none;
      padding: 4rem 0;
      .menu_i {
        display: block;
        margin-right: 0;
        &:not(:last-child) {
          margin-bottom: 3.5rem;
        }
      }
    }
  }
}
  .menu {

  }
    .menu_i {
      display: inline-block;
      &:not(:last-child) {margin-right: 4rem;}
    }
      .menu_i_a {
        @extend .tx-sys;
      }
    .menu_i_a__btn {
      line-height: 3rem;
      display: inline-block;
      height: 3.2rem;
      padding: 0 1.2rem;
      border: 2px solid $link-color;
      border-radius: .3rem;
      @include prefixes(box-sizing, border-box);
      &:hover {
        color: #fff;
        border-color: $major-color;
        background-color: $major-color;
      }
    }



//****************************************************************************************************
//
// .. SECTION
//
//****************************************************************************************************
.section {
  position: relative;
}
  .section_t {
    line-height: 5.2rem;
    text-align: center;
    text-transform: uppercase;
  }

//
// .. Landing
//
.section__landing {
  height: 1000px;
  background-color: $major-color;
  background-image: image-url('bg2x.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

//
// .. Promo
//
.section__promo {
  background-color: $major-color;
}

//
// .. 1C Bitrix
//
.section__bitrix {
  padding: 8rem 0;
  background-color: #f2f6fa;
}

//
// .. Services
//
.section__services {
  padding: 15rem 0;
  background-color: $base-bg;
}

//
// .. Works
//
.section__works {
  overflow: hidden;
}

//
// .. Blog
//
.section__blog {
  padding: 14.5rem 0;
}

//
// .. Contacts
//
.section__contacts {
  position: relative;
  min-height: 66rem;
  background-color: #eee;
}



//****************************************************************************************************
//
// .. LANDING
//
//****************************************************************************************************
.landing {
  position: relative;
  width: 100%;
  height: 100%;
}
  .landing_layer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .landing_layer__title {
    z-index: 1;
    margin-top: -10rem;
    background-image: image-url('title.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  .landing_layer__awward {
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: image-url("awward.svg");
    background-repeat: no-repeat;
    background-position: 75% 65%;
  }



//****************************************************************************************************
//
// .. PROMO
//
//****************************************************************************************************
.promo {
  position: relative;
  top: -18rem;
  margin-bottom: -4rem;
  @extend %grid;
}
  .promo_i {
    @extend %grid_i;
    @extend %grid_i__desktop-grid-8-12;
    @extend %grid_i__desktop-prefix-2-12;
    @extend %grid_i__tablet-grid-10-12;
    @extend %grid_i__tablet-prefix-1-12;
    @extend %grid_i__phone-grid-1-1;
    &:not(:last-child) {border-bottom: .1rem solid #4380da;}

    @include mq(phone) {
      text-align: center;
    }
  }
    .promo_i_inner {
      @extend %grid;    
    }
      .promo_i_img {
        vertical-align: middle !important;
        @extend %grid_i;
        @extend %grid_i__desktop-grid-3-8;
        @extend %grid_i__tablet-grid-3-8;
        @extend %grid_i__phone-grid-1-1;
        img {
          vertical-align: top;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
      .promo_i_img__basket {
        img {background-image: image-url("basket2x.png");}
      }
      .promo_i_img__notebook {
        img {background-image: image-url("notebook2x.png");}
      }
      .promo_i_img__browser {
        img {background-image: image-url("browser2x.png");}
      }      
      .promo_i_tx {
        color: #fff;
        vertical-align: middle !important;
        @extend %grid_i;
        @extend %grid_i__desktop-grid-5-8;
        @extend %grid_i__tablet-grid-5-8;
        @extend %grid_i__phone-grid-5-8;
      }



//****************************************************************************************************
//
// .. Bitrix
//
//****************************************************************************************************
.bitrix {
  @include mq(desktop) {
    background-image: image-url('1C.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  ul {
    margin: 1rem 0 2.5rem 2rem;
    li {
      position: relative;
      color: $voice-color;
      padding-left: 2rem;      
      &::before {
        content: "";
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        background-color: $base-color;
        position: absolute;
        top: 1rem;
        left: 0;
      }
    }
  }
}



//****************************************************************************************************
//
// .. WORKS
//
//****************************************************************************************************
.works {
  overflow: hidden;
  margin-bottom: -14.66667%;
}
.works__off {
  margin-bottom: 0;
}
  .works_i {
    position: relative;
    display: inline-block;
    vertical-align: top;
    @include mq(desktop) {
      width: 33.3333%;
    }
    @include mq(tablet) {
      width: 50%;
    }
    @include mq(phone) {
      width: 100%;
    }
    &:hover {
      .works_i_caption {opacity: 1;}
    }
  }
    .works_i_preview {
      vertical-align: top;
    }
    .works_i_caption {      
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(11, 94, 216, .95);
      @include prefixes(transition, opacity .11s ease);
      a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
      .works_i_caption_t {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        @include prefixes(transform, translate(-50%, -50%));
      }



//****************************************************************************************************
//
// .. NEW POST IN BLOG
//
//****************************************************************************************************
.new-post {
  @extend %grid;
  .owl-carousel {
    @extend %grid_i;
    @extend %grid_i__desktop-grid-8-12;
    @extend %grid_i__desktop-prefix-2-12;
    @extend %grid_i__tablet-grid-8-12;
    @extend %grid_i__tablet-prefix-2-12;
    @extend %grid_i__phone-grid-8-12;
    @extend %grid_i__phone-prefix-2-12;

    .owl-controls {
      .owl-nav {
        
      }
        .owl-prev, .owl-next {
          position: absolute;
          top: 6rem;
          @extend %ico;
          @extend %ico__24;
        }
        .owl-prev {
          left: -8rem;
          @extend %ico__arrow-left;
        }
        .owl-next {
          right: -8rem;
          @extend %ico__arrow-right;
        }
    }
  }
}
  .new-post_i {
    padding: 0 3rem;    
  }



//****************************************************************************************************
//
// .. CONTACTS
//
//****************************************************************************************************
.contacts {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 640px;
  height: 500px;
  background-image: image-url("hands.svg");
  background-repeat: no-repeat;
  background-position: center;
  @include prefixes(transform, translateX(-50%));
}
  .contacts_header, .contacts_body {
    position: absolute;
    left: 50%;
    width: 580px;    
    @include prefixes(transform, translateX(-50%));
  }
  .contacts_header {
    top: 0;
    height: 160px;
    text-align: center;
    border-radius: 15px 15px 0 0;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include prefixes(transform, translateX(-50%));
  }
    .contacts_header_title {
      position: absolute;
      top: 50%;
      left: 50%;
      text-transform: uppercase;
      color: #fff;
      @include prefixes(transform, translate(-50%, -50%));
    }
  .contacts_body {
    top: 160px;
    height: 180px;
    padding-top: 3.5rem;
    background-color: #fff;
    border-radius: 0 0 1.7rem 1.7rem;
  }



//****************************************************************************************************
//
// .. BLOG
//
//****************************************************************************************************
.blog {
  @extend %grid;
}
  .blog_i {
    @extend %grid_i;
    @extend %grid_i__desktop-grid-10-12;
    @extend %grid_i__desktop-prefix-1-12;
    @extend %grid_i__tablet-grid-1-1;
    @extend %grid_i__phone-grid-1-1;
    padding-top: 5.5rem;
    border-top: 1px solid #e9ecf0;
    &:not(:last-child) {padding-bottom: 4.5rem;}
    &:last-child {padding-bottom: 6.5rem;}
  }
    .blog_i_inner {
      @extend %grid;
    }
      .blog_i_article {
        @extend %grid_i;
        @extend %grid_i__desktop-grid-8-10;
        @extend %grid_i__desktop-prefix-1-10;
        @extend %grid_i__tablet-grid-1-1;
        @extend %grid_i__phone-grid-1-1;
      }
        .blog_i_header {

        }
        .blog_i_data {
          color: $muted-color;
        }
        .blog_i_t {
          margin-bottom: .5rem;
        }
        .blog_i_tx {
          color: $voice-color;
          > img {
            margin: 0 auto;
          }
        }
        .blog_i_more {
          display: none;         
        }
        .blog_i_readmore {
          display: inline-block;
          margin-top: 3rem;
        }
        .blog_i_footer {
          padding-top: 2.5rem;
        }

.blog-preview {
  margin-right: 10rem;
}



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
//
// .. 2GIS map for contacts block on index page
//
.map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

//
// .. Feed
//
.feed {

}
  .feed-load {
    position: relative;
    z-index: 998;
    padding: 1.8rem 0;
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
  }

//
// .. Go to blog
//
.blog-link {
  text-decoration: underline;
  color: $base-color;
}



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {
  line-height: 6rem;
  height: 6rem;
  text-align: center;
  color: $muted-color;
  background-color: $base-bg;
}